body {
    background-color: #ffffff;
    padding: 10px;
}
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #1b9d13;
    color: white;
}
* {
    box-sizing: border-box;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#cf {
    padding-left: 25%;
    padding-right: 25%;
    position:relative;
}
h1 {
    color: black;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 4em;
}
h3 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2.5em;
}
a {
    text-decoration: none;
}
#cf img {  
    position: absolute;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity:0;
}
#mainP {
    padding-top: 45%;
    padding-bottom: 2em;
    text-align: center;
    color: black;
}
.videoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
.videocolumn {
    float: left;
}
.contentContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.rightcolumn {
    width: 25%;
    padding-left: 20px;
    padding-top: 20px;
    min-width: 250px;
}
.leftcolumn {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.card {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
figcaption {
    font-size: 2em;
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
}
details {
    color: black;
    padding-left: 37%;
}
footer {
    padding-top: 3em;
    text-align: center;
}
#footer {
    bottom: 0;
    text-align: center;
}
h4 {
    padding-left: 6em;
}
table.CorgiTable {
    border: 1px solid #157AA4;
    background-color: #EEEEEE;
    width: 300px;
    height: 300px;
    text-align: left;
    border-collapse: collapse;
}
table.CorgiTable td, table.CorgiTable th {
    border: 2px solid #FFFFFF;
    padding: 2px 2px;
}
table.CorgiTable tbody td {
    font-size: 15px;
}
table.CorgiTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.CorgiTable thead {
    background: #27A6DC;
    background: -moz-linear-gradient(top, #5dbce5 0%, #3cafdf 66%, #27A6DC 100%);
    background: -webkit-linear-gradient(top, #5dbce5 0%, #3cafdf 66%, #27A6DC 100%);
    background: linear-gradient(to bottom, #5dbce5 0%, #3cafdf 66%, #27A6DC 100%);
    border-bottom: 2px solid #444444;
}
table.CorgiTable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.CorgiTable thead th:first-child {
    border-left: none;
}
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
